html, body{
  margin:0;
  padding:0;
  min-width: 1140px; /* this is the important part*/
  font-family: 'Work Sans',sans-serif;
  /*background-image: url("wallpaper.jpg");*/
}
nav{
  background-color: darkslategray;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
nav a{
  text-decoration: none;
  font-family: "Comic Sans MS";
  width: 100%;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
nav a::before{
  content: '';
  display: block;
  height: 10px;
  width: 0%;
  background-image: url("hover.jpg");
  animation:slidebg 8s linear infinite;
  transition:all ease-in-out 1000ms;
}
nav a:hover:before{
  width: 100%;
}
nav li{
  text-decoration:none;
  display: inline-block;
}
nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}